<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Other Users' Whish Item</title>
</head>

<body>

    <p><a href="/items/">Home</a> | <a href="/logout">Logout</a></p>

    <h2>{{item.item}}</h2>

    <p>Created by: {{item.added_by.first_name}}</p>

    <h3>Users who added this production/item under their whish list:</h3>

    {% for user in item.joined_by.all %}
    {% if user.id != item.added_by.id %}
        <p>{{ user.first_name }}</p>
    {% endif %}
    {% endfor %}

</body>

</html>